doctype html
html(lang='en')
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="/javascripts/google_auth_success.js")
  body
    p Authorization succeed. Redirecting...