doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://smartlock.google.com/client')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src="/javascripts/layout.js")
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/catalog') Home

        div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
          ul.nav.navbar-nav
            li
              a(href='/catalog/skills') Skills 
            if (if_instructor)
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Create
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/catalog/question/create') Create new question
                  li
                    a(href='/catalog/skill/create') Create new skill
                  li.divider(role="separator")
                  li
                    a.not-available(data-toggle="tooltip" title="Still developing") Create a class

          ul.nav.navbar-nav.navbar-right
            if(!logged_in)
              li.login-box
                a.login-button Log in

            else 
              li.dropdown.after-login.login-box
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Me 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/users/profile') Profile
                  li
                    a(href='/class') Class
                  li
                    a(href='/report/') Report
                  li.divider(role="separator")
                  li
                    a.logout-button(href='/users/logout') Log out
                

    div(class='container-fluid')
      div(class='row')      
        div.col-md-10.col-md-offset-1
          block content

    hr
    footer.footer
      p.text-muted &#9400; 2018 
        a.text-muted(href="https://github.com/Pnctsrc/EarTrainingApp" target="_blank") Repo 
        | &#9679; 
        a.text-muted(href="mailto:kwipnc@brandeis.edu") Contact Me 