extends layout

block content
  h1= title
  
  ul
  each skill in skill_list
    li(style="margin-left:"+(skill.level*20)+"px" )
      a(href=skill.url) #{skill.name} 
      p.skill_description #{skill.description}

  else
    li There are no skills.