div.skill-box {
    height: 200px;
    overflow: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
}

.glyphicon-chevron-up, .glyphicon-chevron-down {
    margin-left: 5px;
}

.glyphicon-chevron-up:hover, .glyphicon-chevron-down:hover {
    cursor: pointer;
}

div.children-box label[disabled-label=true] {
    color: #ccc;
}

div.children-box label[disabled-label=true]:hover {
    cursor: not-allowed;
}

div.parent-box label[disabled-label=true] {
    color: #ccc;
}

div.parent-box label[disabled-label=true]:hover {
    cursor: not-allowed;
}

div.req-box label[disabled-label=true] {
    color: #ccc;
}

div.req-box label[disabled-label=true]:hover {
    cursor: not-allowed;
}