a.login-button:hover, a.logout-button:hover {
    cursor: pointer;
}

li.during-login {
    display: none;
}

a.not-available:hover {
    cursor: not-allowed !important;
}

a.not-available {
    color: #ccc !important;
}

footer.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
}