extends layout

block content 
  div#app
    h1 Question for skill - 
      a(href=question.skill.url) #{question.skill.name}

    hr
    p 
      b Question text
    span(v-html="question_html")

    hr
    
    template(v-if="question_html !== ''")
      p
        b Options (Remaining attempts: {{max_attempts == '0' ? "unlimited" : max_attempts - current_attempt + 1}})

      form
        div.form-group#app
          div.form-check.question-option(v-for="(option, index) in options")
            input.form-check-input(type='checkbox' :name="'options'+index" :id="'option'+index" :value="option._id")
            | 
            b Option {{index + 1}}
            label.form-check-label.option-label(:for="'option'+index")
            template(v-if="option.category === 'text'")
              template(v-if="option.if_correct !== undefined")
                template(v-if="option.if_correct")
                  |
                  b.message_correct {{option.text}}
                template(v-else)
                  |
                  b.message_incorrect {{option.text}}
              template(v-else)
                | {{option.text}}

            template(v-else-if="option.category === 'audio'")
              audio(preload="auto" autobuffer controls)
                  source(:src="option.audio")
              template(v-if="option.if_correct !== undefined")
                template(v-if="option.if_correct")
                  p.message_p
                    b.message_correct - Correct.
                template(v-else)
                  p.message_p
                    b.message_incorrect - Incorrect.

            template(v-else)
              img(:src="option.picture" :alt="'picture for option'+index+1")
              template(v-if="option.if_correct !== undefined")
                template(v-if="option.if_correct")
                  p.message_p
                    b.message_correct - Correct.
                template(v-else)
                  p.message_p
                    b.message_incorrect - Incorrect.

        button.btn.btn-primary.submit-button.function-button(v-on:click="submit" :disabled="current_attempt > max_attempts && max_attempts != 0") Submit
        button.btn.btn-primary.skip-button.function-button(v-on:click="skip") Skip
    template(v-else)
      template(v-if="no_question")
        p
          b No options to display
      template(v-else)
        p
          b Loading...
      
 
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="/javascripts/same_page_question.js")
  link(rel="stylesheet" type="text/css" href="/stylesheets/question_detail.css")