extends layout

block content
  h1= title
  
  ul
  each skill in skill_list
    if !skill.parent
      li
        a(href=skill.url) #{skill.name} 
        p.skill_description #{skill.description}

  else
    li There are no skills.